<div class="widgetname">
    <form class="form-horizontal">
        <div class="form-group"><input type="text" class="form-control" placeholder="Place Some text here" data-dojo-attach-point="textString"></div>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <span data-dojo-attach-point="message">my values</span>
        </div>
        <div data-dojo-attach-event='onClick:reverse_func'><input type="button" class="btn btn-default" value=" Reverse Me!"></div>      
    </form>    
</div>

