<div class="widgetname">
    <form>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <input type="text" class="form-control" placeholder="#rrggbb" data-dojo-attach-point="colorInputNode">
            <div class="input-group-addon"><input type="color" data-dojo-attach-point="colorSelectNode"></div>
            <div data-dojo-attach-event='onClick:show'><input type="button" class="btn btn-default" value="Press Me!"></div>
        </div>
        <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
       <!-- <div class="input-group" data-dojo-attach-point="textInput">
            <input type="text" class="form-control" placeholder="Place Some text here" data-dojo-attach-point="textString">
            <div data-dojo-attach-event='onClick:showString'><input type="button" class="btn btn-success" value="Reverse"></div>
        </div>  -->       
    </form>    
</div>

